{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Iniciar Sesion</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
</head>
<body>
	<div class="container">
        <h1>Iniciar Sesion</h1>
        {% if errorMessage %}
			<div id="error">{{ errorMessage }}.</div>
		{% endif %}
        <form action="/login/" method="POST">
        	{% csrf_token %}
            <span>Username</span><br>
            <input type="text" name="user"><br>
            <span>Password</span><br>
            <input type="password" name="password"><br>
		<input type="submit">
	</form>
    </div>
</body>
</html>