{% load static %}
<!DOCTYPE HTML>

<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Configura Alexio</title>
	<meta name="description" content="Herramienta para la creacion de Asignaturas.">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="{% static "css/setup.css" %}">
	<meta name="author" content="@monkeyandres">
</head>
<body>
	{% if form %}
		<header id="pageTitle">
	        <div>
	            <a class="mdi mdi-arrow-left mdi-24px" id="backBtn" href="/setup"></a>
	            <h2>Creacion {{ tipoFormulario }}</h2>
	        </div>
	    </header>

	    <div id="container">
	    	<h3>Formulario creacion.</h3>
			<form method="post" id="creationForm">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Crear" />
			</form>

	    	<br>
	    	<h3>{{ tipoFormulario }} disponibles.</h3>
			<table style="width:100%">
				{% if tipoFormulario == "Asignaturas" %}
					<tr>
						<th>Concepto</th> 
						<th>Horas Semanales</th>
						<th>Profesor</th>
						<th>Curso</th>
					</tr>
					
					{% for asignatura in todasAsignaturas %}
						<tr>
							<td>{{ asignatura.concepto }}</td> 
							<td>{{ asignatura.horasPorSemana }}</td>
							<td>{{ asignatura.profesor }}</td>
							<td>{{ asignatura.curso }}</td>
						</tr>
					{% endfor %}

				{% endif %}

				{% if tipoFormulario == "Profesores" %}
					<tr>
						<th>Nombre</th>
						<th>Apellidos</th> 
					</tr>
					
					{% for profesor in todosProfesores%}
						<tr>
							<td>{{ profesor.nombre }}</td>
							<td>{{ profesor.apellido }}</td> 
						</tr>
					{% endfor %}

				{% endif %}

				{% if tipoFormulario == "Cursos" %}
					<tr>
						<th>Curso</th> 
						<th>Letra</th>
						<th>GradoEducacion</th>
						<th>Tutor</th>
					</tr>
					
					{% for clase in todasClases %}
						<tr>
							<td>{{ clase.anio }}</td> 
							<td>{{ clase.letra }}</td>
							<td>{{ clase.gradoEducacion }}</td>
							<th>{{ clase.tutor }}</th>
						</tr>
					{% endfor %}

				{% endif %}

				{% if tipoFormulario == "Alumnos" %}
					<tr>
						<th>Nombre</th> 
						<th>Apellido</th>
						<th>Edad</th>
						<th>Clase</th>
					</tr>
					
					{% for alumno in todosAlumnos %}
						<tr>
							<td>{{ alumno.nombre }}</td> 
							<td>{{ alumno.apellido }}</td>
							<td>{{ alumno.edad }}</td>
							<th>{{ alumno.curso }}</th>
						</tr>
					{% endfor %}

				{% endif %}
			</table>
	    </div>
	{% else %}
		<header id="pageTitle">
	        <div>
	            <a class="mdi mdi-home mdi-24px" id="backBtn" href="/"></a>
	            <h2>Configura Alexio</h2>
	        </div>
	    </header>
	    <ol id="configSteps">
	        <li>1. <a href="crearProfesores">Crear Profesores</a></li>
	        <li>2. <a href="crearClases">Crear Clases</a></li>
	        <li>3. <a href="crearAsignaturas">Crear Asignaturas</a></li>
	        <li>4. <a href="crearAlumnos">Crear Alumnos</a></li>
	    </ol>
	{% endif %}
</body>
</html>